.container{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background-color:blueviolet;
  height:100vh;
}
h1{
  color:#fff;
}
.search-box{
  background-color:white;
  width:80%;
  height:60px;
  padding:10px;
  border-radius:10px;
}
.maps{
  width: 80%;
  height: 500px;
  margin-top:50px;
  border:4px solid white;
}